services:
  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - './nginx.conf:/etc/nginx/nginx.conf'
    depends_on:
      - backend
      - frontend
    networks:
      - sail
  backend:
    build:
      dockerfile: ./back/Dockerfile
    image: image:back-serverlas
    ports:
      - '3000:3000'
    volumes:
      - './back:/backend'
    networks:
      - sail
  frontend:
    build:
      dockerfile: ./front/Dockerfile
    image: image:front-serverlas
    ports:
      - '8080:8080'
    networks:
      - sail
networks:
  sail:
    driver: bridge
