.main {
	display: flex;
	justify-content: center;
	justify-items: center;
}

.task {
	font-family: Lato,
		'Helvetica Neue',
		Arial,
		Helvetica,
		sans-serif;
	border: solid;
	border-color: cadetblue;
	border-width: 1px;
	border-radius: 8px;
	padding: 16px;
	width: 1000px;
	/* background-color: #f5f2f0; */
}

.problem-situation {
	font-weight: 700;
	font-size: 20px;
}

.answers {
	display: flex;
	gap: 36px;
	font-size: 18px;
}

.trace {}

.trace ol {
	margin-top: 20px;
	margin-bottom: 20px !important;
}

.trace li {
	cursor: pointer;
	border-radius: 6px;
	padding: 4px;
	margin-bottom: 2px;
}

.trace li:hover {
	background-color: #e8e8e8;
}

.trace li.correct {
	background-color: lime;
}

.trace li.incorrect {
	background-color: red;
}

.program {
	font-size: 16px;
}

.language-c {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
	border-radius: 4px;
}

.container-btn {
	display: flex;
	justify-content: space-between;
}

.container-btn button {
	border-radius: 10px;
	border-width: 1.5px;
	cursor: pointer;
	font-size: medium;
	margin-top: 10px;
	padding: 6px;
}

.error-text {
	color: red;
	text-align: center;
	font-size: 20px;
	margin-top: 12px;
}

.tip-text {
	color: green;
	text-align: center;
	font-size: 20px;
	margin-top: 12px;
}

.hidden {
	display: none;
}


/* Trace syntax */
.program {
	color: #f70;
	font-weight: bold;
}

.keyword {
	color: #00a;
	font-weight: bold;
}

.action {
	color: #077;
	font-weight: bold;
}

.variable {
	color: #700;
	font-weight: bold;
}

.number {
	color: #f00;
	font-weight: bold;
}

.struct {
	color: #07c;
	font-weight: bold;
}

.atom {
	color: #f08;
	font-style: italic;
	font-weight: bold;
}




/*TASK 2*/
.code li {
	white-space: pre;
}

.code ol {
	margin-top: 20px;
	margin-bottom: 20px !important;
}

.code li {
	cursor: pointer;
	border-radius: 6px;
	padding: 4px;
	margin-bottom: 2px;
}

.code li:hover {
	background-color: #e8e8e8;
}

.code li.correct {
	background-color: lime;
}

.code li.incorrect {
	background-color: red;
}

.mono {
	font-family: monospace;
}